{
  "data_path_calib": "<sample_path>/data_calibration.pkl",
  "data_path_valid": "<sample_path>/data_validation.pkl",
  "type_ts": "no_rain", 
  "algorithm": "MSL_PSO",
  "hyper_params": {
    "phi": 0.5,
    "N_probe": 2
  },
  "params": {
    "A1": [0.01, 1.0],
    "A2": 0.555,
    "A3": 10.6,
    "A4": 0.5022,
    "A5": 0.0133,
    "Bd1": 0.5,
    "Bd2": [0.1, 0.5],
    "Bd3": [0.1, 0.5],
    "Cd1": [0.5, 1.0],
    "Cd2": 0.4,
    "Cd3": [0.5, 1.0],
    "Bw1": [0.1, 0.5],
    "Bw2": [0.1, 0.5],
    "Bw3": [0.1, 0.5],
    "Cw1": [0.5, 1.0],
    "Cw2": [0.5, 1.0],
    "Cw3": [0.5, 1.0]
  },
  "n_particles": 8,
  "N_iters": 4,
  "N_epoch": 3
}
